<template>
  <div id="app">
    <SideBar isActive="books" />
    <NavBar />
    <div class="main">
      <div class="container pt-4">
       
        <div class="row">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="col-4">
              <button
                @click="$bvModal.show('addModal')"
                class="btn rictangle-pill btn-outline-primary btn-sm"
              >
                Add
              </button>
            </div>
            <div class="col-6 offset-md-6">
            <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
            <img src="../../../assets/images/search_48px.png" height="25" class="mt-2 mr-2 position-absolute invert">
            </div>
             </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      
                      
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies <br />Available</th>
                      <th scope="col">Category</th>
                      <th scope="col"> </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(book, i) in books" :key="i">
            
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category }}</td>
                      <td>
                      <img
                          src="../../../assets/images/edit.png"
                          class="mr-2 cursor-pointer"
                          height="25"
                        /><a type="button" @click="$bvModal.show('deleteModal')"
                          ><img
                            src="../../../assets/images/delete.png"
                            class="mr-2"
                            height="16" /></a
                        ><img
                          src="../../../assets/images/borrow.png"
                          class="cursor-pointer mr-2"
                          height="20"
                        /><img
                          src="../../../assets/images/return.png"
                          class="cursor-pointer"
                          height="20"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="email" class="form-control" id="name" placeholder="" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="email" class="form-control" id="author" placeholder="" />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="email" class="form-control" id="copies" placeholder="" />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" name="cars" class="custom-select">
            <option selected>Please select a category</option>
            <option value="volvo">Fiction</option>
            <option value="fiat">Horror</option>
            <option value="audi">Novel</option>
            <option value="audi">Biography</option>
          </select>
        </div>
      </form>
      <template #modal-footer="{ ok }">
        <b-button size="sm" variant="primary" @click="ok()">
          Add Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this book?</p>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="ok()"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";

export default {
  
  name: "App",
  mounted(){
    document.title = "Books Management"
  },
  components: { SideBar, NavBar },
  methods: {},
  data() {
    return {
      books: [
        {
          name: "Clean Architecture",
          author: "Robert Martin",
          copies: "5",
          category: "Computer Science",
        },
        {
          name: "Jose Rizal: Life, Works and Writings",
          author: "Gregorio Zaide",
          copies: "5",
          category: "History",
        },
        {
          name: "Code Complete",
          author: "Steve McConnell",
          copies: "2",
          category: "Computer Science",
        },
        {
          name: "Clean Complete",
          author: "Robert Martin",
          copies: "3",
          category: "Computer Science",
        },
        {
          name: "Continuous Delivery: Reliable Software ",
          author: "Jez Humble",
          copies: "5",
          category: "Computer Science",
        },
      ],
    };
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>