<template>
  <div id="app">
    <SideBar isActive="index"/>
    <NavBar />
    <div class="main">
      <div class="container pt-4">
        
        <div class="row mt-5">
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Borrowed and returned books</h6>
            <canvas id="barChart" ref="barChart" width="280" height="200"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Popular book genre</h6>
            <canvas id="pieChart" width="280" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
          datasets: [
            {
              bel: 'Borrowed Books, Returned Books',
            data: [5, 15, 8, 6, 5, 10],
            backgroundColor: [
                'rgba(0, 0, 0 ,1)',
                'rgba(204, 204, 204 ,1)',
                'rgba(0, 0, 0 ,1)',
                'rgba(204, 204, 204 ,1)',
                'rgba(0, 0, 0 ,1)',
                'rgba(204, 204, 204,1)'
            ],
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 8, 7, 5],
            backgroundColor: [
                'rgba(102, 204, 255 ,1)',
                'rgba(140, 26, 255 ,1)',
                'rgba(77, 153, 0,1.0)',
                'rgba(255, 26, 26 ,1)',
            ],
            },
          ],

          labels:  ['Novel', 'Fiction', 'Horror', 'Suspense'],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
