<template>
  <div class="sidenav" id="app">
    <p class="ml-6 mt-1 option" href="">Library System</p>
    <a href="index.html" class="">
      <div class="element-container" :class="isActive == 'index' ? 'active': ''">
        <div class="element">
          <img src="../../assets/images/dashboard.png" height="25" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </a>
    <a href="patron.html" :class="isActive == 'patron' ? 'active-management': ''">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/conference.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </a>
    <a href="books.html" :class="isActive == 'books' ? 'active-management': ''">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/book.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Books Management</p>
        </div>
      </div>
    </a>
    <a href="settings.html" :class="isActive == 'settings' ? 'active': ''">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/tune.png" height="20" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </a>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>