<template>
  <div id="app">
    <SideBar isActive="patron" />
    <NavBar />
    <div class="main">
      <div class="container pt-4">
        
       <div class="row">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="col-4">
              <button
                @click="$bvModal.show('addModal')"
                class="btn rictangle-pill btn-outline-primary btn-sm"
              >
                Add
              </button>
            </div>
            <div class="col-6 offset-md-6">
            <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
            <img src="../../../assets/images/search_48px.png" height="25" class="mt-2 mr-2 position-absolute invert">
            </div>
             </div>
       

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Date Registered</th>
                      <th scope="col"> </th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(patron, i) in patrons" :key="i">
                      
                      <td>{{ patron.name }}</td>
                      <td>{{ patron.email }}</td>
                      <td>{{ patron.date }}</td>
                      <td>
                        <img
                          src="../../../assets/images/edit.png"
                          class="mr-2"
                          height="25"
                        /><a
                          type="button"
                          data-toggle="modal"
                          data-target="#deleteModal"
                          @click="$bvModal.show('deleteModal')"
                          ><img
                            src="../../../assets/images/delete.png"
                            class="mr-2"
                            height="16"
                        /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">First Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Middle Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Last Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
      </form>
      <template #modal-footer="{ ok }">
        <b-button size="sm" variant="primary" @click="ok()">
          Add Patron
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this patron?</p>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="ok()"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";

export default {
  mounted(){
    document.title = "Patron Management"
  },
  components: { SideBar, NavBar },
  methods: {},
  data() {
    return {
      patrons: [
        {
          name: "Aparijo, Jaeanna",
          email: "aparijojaeanna@gmail.com",
          date: "June 20, 2020",
        },
        {
          name: "Pontillas, Rynselle",
          email: "pontillasrynselle@gmail.com",
          date: "July 15, 2020",
        },
        {
          name: "Salceda, Juliena",
          email: "salcedajuliena@gmail.com",
          date: "Aug. 20, 2020",
        },
        {
          name: "Sablay, Venus",
          email: "sablayvenus@gmail.com",
          date: "June 30, 2020",
        },
        {
          name: "Petallana, Aimee",
          email: "petallanaaimee@gmail.com",
          date: "Dec. 10, 2020",
        },
      ],
    };
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
